[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DeductiveR"]
	path = DeductiveR
	url = https://github.com/alobondo/deductiver
[submodule "MCTrend"]
	path = MCTrend
	url = https://github.com/alobondo/mctrend
[submodule "hydroDCindex"]
	path = hydroDCindex
	url = https://github.com/alobondo/hydrodcindex
